/* 
Основной цвет текста   #212121; - Заголовки черн
Вторичный цвет текста  #FFFFFF; - Заголовки бел
Цвет текста Параграфы  #757575;

Акцкет 1 ------------- #2196F3; - Синий для кнопок и навигации */


 /* 
 Основной цвет фона  #E5E5E5; - 
 Вторичный цвет фона #2F303A; - Герой и Футер
 Фон хедера          #FFFFFF;

 */
:root {
    --primary-title-color:#212121;
    --secondary-title-color:#FFFFFF;
    --text-color:#757575;
    --accent-color:#2196F3;
    --logo-color:#ffffff;

    --primary-background-color:#E5E5E5;
    --secondary-background-color:#2F303A;
    --header-background-clor:#FFFFFF;  
    --button-background-clor:#F5F4FA;

}


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: var(--primary-background-color);
    /* margin: 0 auto; */
}

header {
    background-color: var(--header-background-clor);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

footer {
    padding: 60px 0;
    background-color: var(--secondary-background-color);
}

.nav { 
    margin-left: 93px;  

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
}

.hero {
    background-color: var(--secondary-background-color);
    padding: 200px 0;

}

.hero-text {
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--logo-color);
}

.competence {
    margin: 0 auto;
    padding: 94px 0 47px;
    background-color: var(--primary-background-color);
}

.our-work {
    padding: 47px 0;
    margin-bottom: 94px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--primary-background-color);
}

.our-team {
    padding: 94px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--button-background-clor);
}

.competence-list {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 15xp;
    padding-left: 15px;
    margin: 0;
    
}

.images-list {
    display: flex;
    /* justify-content: space-around; */
    /* margin-left: 30px; */
    /* padding: 4px; */
}

.our-work-imges {
    width: 370px;
}

.images-item {
    width: calc((100%-60px) / 3);
    margin-right: 30px;
} 

.images-item:nth-child(3n) {
    margin-right: 0;
  }

.our-team-item {
    width: calc((100%-90px) / 4);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}  

.our-team-item:nth-child(4n) {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    …
  }
  
.our-work-title,
.our-team-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);

}

.button {
    background-color: var(--accent-color);
}

.button-filter {
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--button-background-clor);
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
}

.button-item {
    margin-right: 8px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button-item:last-child {
    margin-right: 0;
}

.filter-list {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.project-item {
    width: calc((100%-60px) / 3);  
    /* margin-right: 30px;
    margin-bottom: 30px; */
}

.project-item:nth-last-child(-n + 3) {  
    margin-bottom: 0;
}

.project-item:nth-child(3n) {  
    margin-right: 0;}
}

.hero-text,
.main-button {
    color: var(--logo-color);
}

.main-button {
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 32px;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}

.competence-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.competence-text {
    width: 270px;
    margin-left: 30px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.header-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--primary-title-color);

}

.footer-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.header-logo {
    display: flex;
    text-decoration: none;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.footer-logo {
    display: flex;
    margin-bottom: 20px;
    text-decoration: none;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.list {
    color: var(--primary-title-color);
    list-style: none;
}

.link {
    text-decoration: none;
}

.contact-list {
    display: flex;  
    justify-content: flex-end;
    margin-left: auto;
}

.header-list .active-page {
    color: var(--accent-color);
}

.header-link {
    margin-left: 50px;
    color: var(--primary-title-color);
}

.header-contacts {
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.header-contacts:hover {
    color: var(--accent-color);
}

/* Цвет сделал такой, чтобы было видно реакцию */
.header-link:hover,
.header-link:focus {
    color: #8bf75a;
}

.footer-link {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover{
    color: var(--accent-color);
}

.text {
    color: var(--text-color);
}

address {
    color: var(--secondary-title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.filter-container {
    padding-top: 94px;
    margin-bottom: 50px;
}

.project-name {
    margin: 20px 24px;
}

.project-container {
    margin-bottom: 94px;
}

.our-team-people {
    /* margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left: auto;
    margin-right: auto; */ */
}