/* 
Основной цвет текста   #212121; - Заголовки черн
Вторичный цвет текста  #FFFFFF; - Заголовки бел
Цвет текста Параграфы  #757575;

Акцкет 1 ------------- #2196F3; - Синий для кнопок и навигации */


 /* 
 Основной цвет фона  #E5E5E5; - 
 Вторичный цвет фона #2F303A; - Герой и Футер
 Фон хедера          #FFFFFF;

 */
:root {
    --primary-title-color:#212121;
    --secondary-title-color:#FFFFFF;
    --text-color:#757575;
    --accent-color:#2196F3;
    --logo-color:#ffffff;

    --primary-background-color:#E5E5E5;
    --secondary-background-color:#2F303A;
    --header-background-clor:#FFFFFF;  
    --button-background-clor:#F5F4FA;

}


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background-color: var(--primary-background-color);
    /* margin: 0 auto; */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 24px 0;
    background-color: var(--header-background-clor);
}

.header-container {
    display: flex;
    justify-content: center;
    /* padding:0 15 px; */
    /* margin-left: auto;  
    margin-right: auto; */
}

footer {
    width: 1200px;
    margin: 0 auto;
    /* padding-left: 215px; */
    background-color: var(--secondary-background-color);
}

.nav { 
    width: 295px;
    margin-left: 60px;   
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.hero {
    background-color: var(--secondary-background-color);
    border: 5px solid white;
    padding-top: 120px;
    padding-bottom: 200px;

}

.hero-text {
    background-color: var(--secondary-background-color);
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.competence {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-background-color);
}

.our-work {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-background-color);
}

.our-team {
    padding: 94px 0;
    background-color: var(--button-background-clor);
}

.competence-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.images-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.our-work-imges {
    width: 370px;
}

.our-team-imges {
    width: 270px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    …
  }
  
.our-work-title,
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);

}

.button {
    background-color: var(--accent-color);
}

.button-filter {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--button-background-clor);
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
}

.hero-text,
.main-button {
    color: var(--secondary-title-color);
}

.main-button {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.main-button {
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 32px;
}

.competence-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.competence-text {
    width: 270px;
    margin-left: 30px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Заголовки с одинаковым размером шрифта */
.our-work,
.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.header-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--primary-title-color);

}

.footer-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--logo-color);
}
.footer-logo,
.header-logo {
    display: flex;
    align-items: flex-start;
    width: 145px;
    height: 31px;
    padding: 0 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.list {
    color: var(--primary-title-color);
    list-style: none;
}

.link {
    text-decoration: none;
}

.contact-list {
    display: flex;  
    justify-content: flex-end;
    margin-left: 200px;
    padding: 0; 
}

.header-list .active-page {
    color: var(--accent-color);
}

.header-link {
    margin-left: 50px;
    color: var(--primary-title-color);
}

.header-contacts {
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.header-contacts:hover {
    color: var(--accent-color);
}

/* Цвет сделал такой, чтобы было видно реакцию */
.header-link:hover,
.header-link:focus {
    color: #8bf75a;
}

.footer-link {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover{
    color: var(--accent-color);
}

.text {
    color: var(--text-color);
}

address {
    color: var(--secondary-title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.project-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.container {
    outline: 2px dotted red;
}